@import '../../variables.scss';

.main{
  height: calc(100vh - 100px);
  background: linear-gradient(180.18deg, rgba(246, 245, 255, 0.5) 0.16%, rgba(240, 240, 255, 0.5) 0.16%, rgba(114, 101, 251, 0.5) 100.57%);
}
.container{
  @include adaptive-value ("width", 1700, 300, 0);
  margin: 0 auto;
  height: 100%;
}
h1{
  @include adaptive-value ("font-size", 70, 30, 0);
  @include adaptive-value ("line-height", 70, 30, 0);
}
.content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.text{
  width: 50%;
  flex-direction: column;
  align-items: center;
  p{
    margin: 15px 0;
  }
  .accent{
    color: $accent-color;
  }
}
.btn{
  height: 40px;
  width: 30%;
}
.left{
  width: 50%;
  height: 100%;
}
.image{
  width: 90%;
  height: 100%;
  background: url('../../assets/main.png') center/contain no-repeat;
}