@import '../../../variables.scss';

header {
  height: 100px;
}
.container{
  @include adaptive-value("width", 1700, 300, 14);
}
.aboutus {   
  list-style-type: none;
  padding-left: 200px;
 font-size:30 ;
 margin-top: 20px;
} 