@import '../../../variables.scss';

.footer{
  padding: 50px 0;
  background: $accent-color;
}
.container{
  @include adaptive-value("width", 1700, 40, 0);
  margin: 0 auto;
}
.content{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  color: $white-color;
}
.image{
  width: 100%;
  height: 90%;
  .img{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.nav{
  margin: 20px 0 0;
  p{
    font-weight: 500;
    @include adaptive-value("font-size", 26, 14, 0);
  }
  a{
    display: block;
    font-weight: 400;
    @include adaptive-value("font-size", 26, 14, 0);
  }
}
.company{
  display: flex;
  justify-content: flex-end;
  @include adaptive-value("font-size", 26, 14, 0);
  font-weight: 400;
  margin-top: 20px;
  color: $white-color;
}